<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844479837411-3lr36fjg0171k07jas7fpgkdk1ddfnik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844479837411-3lr36fjg0171k07jas7fpgkdk1ddfnik</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>844479837411-f7sksoe5i4r765jns5edkoaa9bs1mgam.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdPu7jL-072RA6zNdvdV2GiVcY10h_7oY</string>
	<key>GCM_SENDER_ID</key>
	<string>844479837411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SebastianDittmann.mmpapp</string>
	<key>PROJECT_ID</key>
	<string>mmp-app-7170e</string>
	<key>STORAGE_BUCKET</key>
	<string>mmp-app-7170e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844479837411:ios:e30f4f4eb6265a689381d6</string>
</dict>
</plist>